.img-responsive{
    height: 100%;
    width: 100%;
}

.modal-one{
background-color:rgba(58,255,164,0.89);

}
.logo-images{
    height: 85px;
    width: 180px;
}

.navbar-nav{
    font-family: Verdana;
    font-size: large;
}

.navbar-nav .nav-item .nav-link:hover{
    background-color: #142340;
    display: block;
    color: white;
    box-shadow: 5px 2px;
    transition: 2s;
}
.nav-section{
    background-color: #49C7ED;
}
.carousel-text{
    font-family: Verdana;
    font-size: 60px;
}
.main-content{
    background-color:#FFFFFF;
}

.slider-2{
    height: 495px;
}
.box-one{
    height: 280px;
    width: 280px;
    border: 5px solid white;
}

.content-s3{
    background-color: #142340;
}

.h-one{
    color: #49C7ED;
    font-family: Verdana;

}








